*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans';   
}
header{
    background-image: url(../images/banner/banner3.png);
    width: 100%;
    height: 800px;
    border: 1px solid #000000;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.banner_content{
    text-align: right; 
    font-style: normal;
    padding: 215px 230px 365px 845px;
}
.banner-heading{
    font-weight: 700;
    font-size: 65px;
    color: #FFFFFF;
    margin-bottom: 25px;
}
.banner-paragraph,.failure-section-right_div_paragraph{
    text-align: justify;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    margin-bottom: 30px;
}
.banner-btn{
    background-color: white;
    height: 65px;
    width: 160px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: #005FAC;
    text-decoration: none;
    padding: 20px 25px;
}
.failure-section{
    display: flex;
    width: 1070px;
    height: 720px;
    padding: 130px 320px 130px 205px;
}
.failure-section-bgp{
    background-image: url(../images/person.png);
    background-size: contain;
    height: 720px;
    width: 50%;
    background-repeat: no-repeat;

    
}
.failure-section-right_div{
    width: 50%;
    height: 100%;
    padding: 235px 10px 83px 5px;
    margin-left: 80px;
}
.failure-section-right_div_heading{
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #151414;
    margin-bottom: 23px;
}
.failure-section-right_div_paragraph{
    color: #444343;
    margin-bottom: 16px;

}
.failure-section-right_div_check{
    width: 349px;
    height: 160.14px;
    color: #444343;
}
.failure-section-right_div_check p{
    margin-bottom: 8px;

}
.failure-section-right_div_check img{
    width:2px;
    height: 3px;
}
.fa-check{
    color:#16D887;
}
.plan_heading{
    margin: 0px 710px 50px 715px;
    color: #151414;
    font-size: 40px;
    font-weight: 700;
    line-height: 47px;
    letter-spacing: 0em;
    text-align: center;

    
    
}
.plan_skill_develop{
    text-align: center;
    width: 100%;
    height: 205px;
    display: flex;
    margin: 0px 230px 130px 230px;
}
.plan_skill_develop div{
    margin-right: 100px;
}
.plan_skill_develop h5{
    font-size: 30px;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: 0em;
    color: #151414;
    margin-bottom: 18px;


}
.plan_skill_develop p{
    font-size: 25px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0em;
    color: #737272;

}
.plan_skill_develop img{
    width: 50px;
    height: 50px;
    margin-bottom: 24px;
}
.mindset-section{
    margin: 0px 230px 130px;
    text-align: left;
    background-image: url(../images/gradient1.png),url(../images/watch.png);
    /* position: absolute; */
    width: 1140px;
    height: 300px;
    left: 230px;
    top: 2221.96px;
    background: linear-gradient(90deg, #005FAC 0%, rgba(0, 95, 172, 0) 100%);
    border-radius: 8px;
    padding: 59px 617px 59px 64px;
}
.mindset-section h4{
    font-size: 40px;
    font-weight: 700;
    line-height: 47px;
    letter-spacing: 0em;
    margin-bottom: 24px;
    color: #FFFFFF;
}